<html>
  <head></head>
  <body>
    <h1>Albums</h1>  
    <p>
    <% @albums.each do |album| %>
      Title: <%= album.title %> <br />
      Released: <%= album.release_year %> <br />
      <br />     
      <% end %>
    </p>
  </body>
</html>


