<html>
  <head></head>
  <body>  
    <h1>Add an Artist</h1>
      <form method="POST" action="/artists">
    
    <div>
      <label>Name</label>
      <input type="text" name="name">
    </div>

    <div>
      <label>Genre</label>
      <input type="text" name="genre">
    </div>

      <input type="submit" value="Submit the form">
      </form>
  </body>
</html>